[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
bs4 = "*"
pytest = "*"
discord = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
